#bubble-viz-container {
  position: relative;
}

.bubble-viz-bubble:hover {
  opacity: 1;
  cursor: pointer;
}

.bubble-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.bubble-viz-player-label {
  pointer-events: none;
}

#bubble-size-info {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
}

#bubble-size-info-content {
  display: none;
  position: absolute;
  max-width: 300px;
  top: 15px;
  right: 50px;
  padding: 6px 10px;
  font-size: 12px;
  color: white;
  background-color: rgb(31, 31, 31);
  border-radius: 6px;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 1000;
  text-align: center;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#bubble-size-info:hover + #bubble-size-info-content {
  display: block;
}
